{% extends 'base.html' %}
{% block content %}
<div class="fone">
    <div class="form auth-form center">
        <h1>sign in</h1>
        <form action="/auth" method=POST autocomplete="off">
            <p>
                <label for="login">login</label>
                <br>
                <input type="text" name="login">
            </p>
            <p>
                <label for="password">password</label>
                <br>
                <input type="password" name="password">
            </p>
            <p>
                <input type=submit value=authorization>
            </p>
        </form>
          
        <a href="/reg"><button>sign up</button></a>
    </div>
    {% for msg in get_flashed_messages() %}
        <div class="text-sub-warning down-messages">{{msg}}</div>
    {% endfor %}  
</div>
{% endblock %}