<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/differ.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/fire-17.gif')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
</head>
<body>
{% block content %}
<script>
    let letterLength = {};
    let koeff = 0;
    let letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];

    for (let letter of letters) {
      let span = document.createElement('span');
      span.append(document.createTextNode(letter));
      span.style.display = "inline-block";
      document.body.append(span);
      koeff += span.offsetWidth;
      span.remove();
    }

    koeff /= letters.length;

     var check = function() {
        var from = document.getElementById('first').value,
            to = document.getElementById('second').value;

        var xhr = new XMLHttpRequest();
        var url = "http://127.0.0.1:5000/differ/";
        xhr.open("POST", url, false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                console.log(json);
                document.getElementById('content').innerHTML = "";
                json["answer"].forEach((element) => {
                    document.getElementById('content').innerHTML += element;
                })
            }
        };
        var data = JSON.stringify({"from": from, "to": to, "width": window.innerWidth / koeff});
        xhr.send(data);
    }
</script>
<a href="/main_page"><button style="margin-bottom: 15px">Back</button></a>
<button onclick="check()" style="margin-left: 15px; margin-bottom: 15px">Run</button>
<div style="display:flex; ">
    <div style="width:50%" >
        ONE:
        <select id="first">
            {% for value in dates %}
                <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div style="width:50%">
        SECOND:
        <select id="second">
            {% for value in dates %}
                <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div id="content">

</div>
{% endblock %}

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>