{% extends 'base.html' %}
{% block content %}
<script>
     var check = function() {
        var url_text = document.getElementById('url').value,
            html_tags = document.getElementById('html_tags').value,
            css_tags = document.getElementById('css_tags').value,
            interval = undefined;
        let radios = document.getElementsByName('interval');
        for(var i=0, length = radios.length; i < length; i++){
            if (radios[i].checked){
                interval = radios[i].value;
                break;
            }
        }
        var xhr = new XMLHttpRequest();
        var url = "http://127.0.0.1:5000/settings/create/site_settings";
        xhr.open("POST", url, false);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                console.log(json.email + ", " + json.password);
            }
        };
        var data = JSON.stringify({"url": url_text, "interval": interval, "html_tags": html_tags.split(" "), "css_tags": css_tags});
        xhr.send(data);
    }
</script>
<div>
    <p>
        <label for="url">URL</label>
        <input id="url" type="text" name="url" size="50" value={{ settings.url }}>
    </p>
    <p>
        <label for="html_tags">Tags of HTML (separate using space)</label>
        <textarea id="html_tags" name="html_tags" size="50" >{{ settings.html_tags }}</textarea>
    </p>
    <p>
        <label for="css_tags">Tags of CSS (separate using space)</label>
        <textarea id="css_tags" name="css_tags" >{{ settings.css_tags }}</textarea>
    </p>
    <p>
        <label for="interval">Interval</label>
        <input type="radio"
               name="interval"
               value="1 day"
               {% if settings.interval == "1 day" %}checked
        {% endif %}>Per 1 month<br>
        <input type="radio"
               name="interval"
               value="1 hour"
               {% if settings.interval == "1 hour" %}checked
        {% endif %}>Per 1 day<br>
        <input type="radio"
               name="interval"
               value="1 minute"
        {% if settings.interval == "1 minute" %}checked
        {% endif %}>Per 1 minute<br>
    </p>
    <button onclick="check()">Save</button>
</div>
<a href="/main_page"><button>Back</button></a>
{% endblock %}